.invent{
    background: #7eda6b;
    width: fit-content;
    padding:20px 20px 20px 20px ;
    border-radius: 10px; 
    .addproduct{
        display: flex;
        justify-content: space-between;
    }
}